node_modules/
flow-typed/
.cache/
npm-debug.log
.eslintcache
.gatsby-context.js
.idea
gatsby-starter-lumen.iml

public/admin/
public/icons/
public/page-data/
public/static/
public/index.html
public/manifest.webmanifest

~*